h1 {
    text-align: center;
    font-family: Epilogue; /* Heading */
    font-size: 32px; 
    line-height: 48px; 
    color: #171A1FFF; /* neutral-900 */
  }


.search{
  width: 500px;
  margin:auto;
  padding-left: 30px;
}

.input-icons i {
  position: absolute;
  left: 495px;
}

.input-icons{
  margin-bottom: 100px;
}

.icon {
  padding: 10px;
  min-width: 40px;
}

.rectangle{
  background-color: #BEBAB9;
  width: 500px;
  height: 300px;
  margin: auto;
  background: #F3F4F6FF; /* neutral-200 */
  border-radius: 0px; 
}

.input{
  position: relative;
  top: 20px;
  left: 20px;
  width: 360px; 
}

.insert{
  position: relative;
  top: -33px;
  left: 400px;
}

.rectange_2{
  background: #DEE1E6FF; /* neutral-300 */
  border-radius: 0px;
  height: 40px;
  width: 450px;
  margin:auto;
}

.check{
  position: relative;
  top:7px;
  left:5px;
}

.next-icon{
  position: relative;
  top: 130px;
  left: 230px;
  border:none;
}
